@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin:0;padding:0;box-sizing:border-box}

body{
    font-family: sans-serif;
    font-size: 24px;
    background-color: hsl(303, 53%, 13%);
    color: hsl(303, 80%, 86%);
}
main{
    width: 768px;
    margin: 80px auto;
}
    h1{
	font-weight: 300;      
    }	
    p{
        margin: 24px 0px;
    }
